.rodape__item {
    margin-left: 1rem;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
    text-align: center;
    padding-top: 2rem;
    margin-right: 1rem;
}